.expense{
    margin:5px;
}
form >div{
    display: inline-block;
}
#addexpense{
    margin-bottom: 5px;
}
#report{
    display: block;
    justify-content: center;
    width: 80%;
    margin: auto;
    flex-direction: column;
    
}
#report_heading{
    text-align: center;
}
#report_content{
    width: 80%;
    margin: auto;
    border: 2px solid black;
}
.year{
    text-align: center;
    font-weight: bolder;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.report_month_table{
    margin: auto;
    width: 80%;
    margin-bottom: 5px;
}
table, th,td{
  border: 1px solid black !important;
  border-collapse: collapse;
}
.c_row{
   background-color:lightblue ;
} 
th{
    background-color: blue !important;
}
.s_row{
    color: blue;
    background-color: lightblue;
    width: 100%;
}
.s_d{
    border: 0px !important;
}
p{
    margin-top: 2px;
    margin-bottom: 2px;
}
#d_btn{
    text-align: end;
    margin-bottom: 7px;
}
.notDisplay{
    display: none;
}
#features_content{
    margin: 1rem;
}