<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <button class="btn bg-danger d_btn">Download Report</button>
    </div>
    <table >
        <tr>
            <th>Date</th>
            <th>Description</th>
            <th>Category</th>
            <th>Salary</th>
            <th>Expense</th>
        </tr>
        <tr>
            <td>Date</td>
            <td>Description</td>
            <td>Category</td>
            <td>Salary</td>
            <td>Expense</td>
        </tr>
    </table>
    <script src="/js/reports.js"></script>
</body>
</html>