<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
      <meta http-equiv="Content-Security-Policy"
        content="
        default-src *;
        script-src * 'unsafe-inline' 'unsafe-eval';
        style-src * 'unsafe-inline';
        connect-src *;
        img-src * data:;
        font-src *;
        frame-src *;
        ">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cashfree Checkout Integration</title>
    <script src="https://sdk.cashfree.com/js/v3/cashfree.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</head>

<body>
    <div class="row d-flex justify-content-start w-50 m-auto flex-column mt-5">
        <p class="text-center fw-bold">Click below to open the checkout page in current tab</p>
        <button id="renderBtn" class="btn btn-success w-50 m-auto">Pay Now</button>
    </div>
    <div class="cf_checkout"></div>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/js/payment_self.js"></script>
</body>

</html>